* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "normalize.scss";

$font-size: 14px;

$color-black: #222;
$color-grey: #eee;
$color-blue: #4eb8d5;
$color-green: #5ab57a;

$line-height: 35px;


@import "multislider.scss";
@import "scheduler.scss";